bidict==0.23.1
blinker==1.8.2
boto3==1.34.115
botocore==1.34.115
click==8.1.7
dnspython==2.6.1
Flask==3.0.3
Flask-Cors==4.0.1
Flask-JWT-Extended==4.6.0
Flask-SocketIO==5.3.6
gevent==24.2.1
greenlet==3.0.3
h11==0.14.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
load-dotenv==0.1.0
MarkupSafe==2.1.5
passlib==1.7.4
PyJWT==2.8.0
pymongo==4.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.1
python-socketio==5.11.3
s3transfer==0.10.1
simple-websocket==1.0.0
six==1.16.0
urllib3==2.2.1
Werkzeug==3.0.3
wsproto==1.2.0
zope.event==5.0
zope.interface==6.4.post2
boto3
botocore
